.site-footer {
    background-color: #000;  /* 背景を黒 */
    color: #fff;  /* 文字色を白 */
    text-align: left;
    padding: 20px 0;
}

.site-footer a {
    color: #fff; /* リンクの色も白 */
    text-decoration: none;
}

.site-footer p {
    color: #fff; /* リンクの色も白 */
    text-decoration: none;
}

.site-footer a:hover {
    text-decoration: underline;
}

.footer-title {
    font-size: large;
    color: #fff;
}

.site-header {
	background: url('/../assets/header.jpg') no-repeat center center;
	background-size: cover;    /* 画面いっぱいに広がるように調整 */
	height: 100%;            
	color: #fff;
}