.site-footer {
    background-color: #000;  /* 背景を黒 */
    color: #fff;  /* 文字色を白 */
    text-align: left;
    padding: 20px 0;
}

.site-footer a {
    color: #fff; /* リンクの色も白 */
    text-decoration: none;
}

.site-footer p {
    color: #fff; /* リンクの色も白 */
    text-decoration: none;
}

.site-footer a:hover {
    text-decoration: underline;
}

.footer-title {
    font-size: large;
    color: #fff;
}